In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('binary_predictions_2022.csv')
df.head()

,Unnamed: 0,date,city,tweet,predicted_emotion
0,0,2022-10-22,Хмельницький,RT @dw_ukrainian: Хмельницький залишився без с...,others
1,1,2022-10-22,Хмельницький,RT @dw_ukrainian: Хмельницький залишився без с...,others
2,2,2022-10-22,Хмельницький,RT @superumka: Луцьк і Хмельницький просять на...,joy
3,3,2022-10-22,Хмельницький,Хмельницький після вранішніх вибухів опинився ...,sadness
4,4,2022-10-22,Хмельницький,RT @tsnua: Хмельницький після вранішніх вибухі...,sadness

In [3]:
flow_df = pd.read_csv('../hcr_dat_border.csv')
flow_df.head()

  iso3  Country    data_date  Border_Crossings
0  BLR  Belarus  24/Feb/2022               136
1  BLR  Belarus  25/Feb/2022                34
2  BLR  Belarus  26/Feb/2022               172
3  BLR  Belarus  27/Feb/2022                48
4  BLR  Belarus  28/Feb/2022                18

In [4]:
#cleaning...
countries_of_interest = ['Slovakia', 'Hungary', 'Poland', 'Republic of Moldova']
flow_df = flow_df[flow_df.Country.isin(countries_of_interest)]
flow_df['data_date'] = pd.to_datetime(flow_df['data_date'], format='%d/%b/%Y')
flow_df.drop(columns=['iso3'], inplace=True)
flow_df.rename(columns={"data_date": 'date', ' Border_Crossings ' : 'border_crossings'}, inplace=True)
flow_df = flow_df.groupby(['date', 'Country']).sum()
flow_df.head()

                               border_crossings
date       Country
2022-02-24 Hungary                      19,978
           Poland                       30,096
           Republic of Moldova          10,928
           Slovakia                      4,844
2022-02-25 Hungary                      19,618

In [5]:
flow_df['border_crossings'] = flow_df['border_crossings'].str.replace(',', '')
flow_df['border_crossings'] = flow_df['border_crossings'].str.replace('-', '0')
flow_df['border_crossings'] = flow_df['border_crossings'].str.strip().astype('int')